body{
    text-align: center;
    
}
h1{
    font-size: 40px;
    font-family: fantasy;
    font-weight: 300;
    
}
#app{
    width: 100%;
    height: 800px;
    background-color: #03fc98;
    
}
#game{
       width: 100%;
    height: 800px;
    background-color: #03fc98; 
}
#Chatbot{
        width: 100%;
    height: 800px;
    background-color: #03fc98;
}
#art{
        width: 100%;
    height: 800px;
    background-color: #03fc98;
}
img{
    transition: transform .2s;
    
}
img:hover{
    transform: scale(0.9);
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}